.item-a { width:200px; }
.item-b { width:340px; }
.item-c { width:290px; }
.item-d { width:220px; }
.item-e { width:350px; }
@media (max-width: 768px) {
    .item-a { width:100px; }
    .item-b { width:240px; }
    .item-c { width:190px; }
    .item-d { width:120px; }
    .item-e { width:250px; }
}